**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars
**/*.tfplan
**/crash.log

*.retry
ansible/inventory/hosts.yml

*.pem
*.key
id_rsa*
id_ed25519*
!*.pub

.DS_Store
*.swp
.idea/
.vscode/
